{% extends "base.html" %}

{% block content %}
<form>
    <p>Ваш пример: {{ example }}</p>
    {{ form.draft.label }}<br>
    {{ form.draft(class="form-control") }}<br>
    <p>{{ form.answer.label }}
    {{ form.answer(class="form-control") }}<br>
    {% for error in form.answer.errors %}
        <div class="alert alert-success" role="alert">
            {{ error }}
        </div>
    {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
{% endblock %}