{% extends "base.html" %}

{% from "_formhelpers.html" import render_field %}

{% block content %}

<form action="" method="post" class="centered">
    <p>
    {{ problem_form.hidden_tag() }}
    Тип примера: 
    <select name="problem_type" id="problem_type" class="form-control">
        <option value="calc" selected>Вычисление</option>
        <option value="equation">Уравнение</option>
        <option value="inequality">Неравенство</option>
    </select>
    Сложность: 
    <select name="hardness" id="hard_type" class="form-control">
        <option value="low">Легкий</option>
        <option value="mid" selected>Средний</option>
        <option value="high">Сложный</option>
    </select>
    Доп. Параметры:
    <select name="additional" id="addition" class="form-control">
        <option value="no" selected>Не выбрано</option>
    </select>
    <input type="submit" value="Создать пример" class="btn btn-primary">
    </p>
    
</form>

<form action="" method="post" class="centered">
    <dl>
    {{ problem_form.hidden_tag() }}
    <input type="text" name="example_id" value="{{ example_id }}" hidden>
    <p>Ваш пример: {{ example }}</p>
    {{ render_field(problem_form.draft, class="form-control") }}
    {{ render_field(problem_form.answer, class="form-control") }}
    <input type="submit" value="Готово" class="btn btn-primary">
    </dl>
    <script src="{{ url_for('static', filename='scripts/type_selection.js')}}"></script>
</form>
{% if pr_ex and last_ans != -4065%}
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Предидущий пример</th>
            <th scope="col">Ваш ответ</th>
            <th scope="col">Правильный ответ</th>
            <th scope="col">Награда</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ pr_ex.example }}</td>
            <td>{{ last_ans }}</td>
            <td>{{ pr_ex.right }}</td>
            <td>{{ reward }}</td>
        </tr>
    </tbody>
</table>
{% endif %}
{% endblock %}