{% extends "base.html" %}

{% block content %}
<h1>{{profile.name}}</h1>
<h2>Рейтинг: {{profile.rating}}</h2>
<h3> Примеры, которые вы решали</h3>
{% if examples %}
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Пример</th>
            <th scope="col">Сложность</th>
            <th scope="col">Статус</th>
            <th scope="col">Дата</th>
        </tr>
    </thead>
    <tbody>
        {% for ex in examples %}
        {% if ex.status %}
        <tr class="table-success">
            <td>{{ex.example}}</td>
            <td>{{ex.hardness}}</td>
            <td>ok</td>       
            <td>{{ ex.date }}</td>
        </tr>
        {% else %}
        <tr class="table-danger">
            <td>{{ex.example}}</td>
            <td>{{ex.hardness}}</td>
            <td>failed</td> 
            <td>{{ ex.date }}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>
    Похоже, что вы еще не решили ни одного примера.
</p>
{% endif %}
<div>
    <p>
    <a class="btn btn-warning" href="/logout">Выйти из аккаунта</a><br><br>
    <a class="btn btn-danger" href="/delete">Удалить аккаунт</a>
    </p>
</div>
{% endblock %}