{% extends "base.html" %}

{% from "_formhelpers.html" import render_field %}

{% block content %}
<h1>Регистрация</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <dl>
        {{ render_field(form.name, class="form-control") }}
        {{ render_field(form.email, class="form-control", type="email") }}
        {{ render_field(form.password, class="form-control", type="password") }}
        {{ render_field(form.password_again, class="form-control", type="password")}}
    </dl>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}